@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

:root {
  --green: #12bc31;
  --blue: #214eca;
}
h1,h2,h3 {
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Poppins';
}

nav {
  background: var(--green);
  padding: 10px 20px;
  text-align: center;
}

nav a {
  color: #fff;
  margin: 1.1rem;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  transition: 0.2s;
}

nav a:hover {
  color: yellow;
}

nav h1 {
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 1rem;
}

.page {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  font-weight: bold;
}

@media screen and (max-width: 480px) {
  nav h1 {
    font-size: 1.5rem;
  }

  nav a {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 350px) {
  nav h1 {
    font-size: 1.3rem;
  }

  nav a {
    font-size: 0.6rem;
  }
}