:root {
	--green: #12bc31;
	--bgreen: #026514;
	--lgreen: #e2ffe8cb;
}

h1,
h2,
h3 {
	margin: 0;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

header {
	text-align: center;
	font-size: 1.2rem;
	padding: 0.5rem;
	background: var(--green);
	color: white;
	text-transform: uppercase;
}

nav {
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 0px 3px var(--green);
}

nav a {
	margin: 1rem 3rem;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.2rem;
	transition: 0.5s;
	color: var(--green);
}

nav a:hover {
	color: var(--bgreen);
	text-shadow: 0px 0px 1px var(--bgreen);
}

.page {
	max-width: 1200px;
	margin: 20px auto;
	padding: 20px;
}

.notebook-grid {
	margin: 3rem auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 4rem;
}

.note-card {
	text-align: center;
	width: 100%;
	padding: 1.5rem;
	box-sizing: border-box;
	box-shadow: 1px 1px 10px var(--green);
	color: var(--bgreen);
	border-radius: 2rem;
	position: relative;
}

h3 {
	color: var(--green);
}

form {
	font-size: 1rem;
	text-align: center;
	box-shadow: 1px 1px 10px var(--green);
	padding: 1.5rem;
	max-width: 480px;
	margin: 20px auto;
	border-radius: 2rem;
}

label {
	font-size: 1rem;
	color: var(--green);
	font-weight: 500;
}

input,
textarea {
	display: block;
	width: 100%;
	padding: 0.6rem;
	box-sizing: border-box;
	border: 1px solid var(--green);
	background-color: #a4fbb427;
	color: var(--bgreen);
	border-radius: 0.5rem;
	margin: 10px 0 20px 0;
}

button {
	background: white;
	font-size: 1rem;
	color: var(--green);
	border: 1px solid var(--green);
	border-radius: 0.5rem;
	padding: 0.8rem;
	cursor: pointer;
	transition: 0.5s;
}

button:hover {
	background-color: var(--lgreen);
	color: var(--bgreen);
}

.button-edit {
	padding: 0.5rem;
	margin: 1rem 0rem 0.3rem 0rem;
}

.button-delete {
	position: absolute;
	top: 1rem;
	right: 1rem;
	border: none;
	padding: 0.4rem;
}

@media screen and (max-width: 700px) {
	header {
		font-size: 0.8rem;
	}

	nav a {
		font-size: 0.8rem;
		margin: 1rem 1.3rem;
	}

	.notebook-grid {
		grid-template-columns: 1fr;
		margin: 0.5rem auto;
		gap: 1.5rem;
	}

	.note-card {
		font-size: 0.8rem;
	}

	.buttonEdit {
		font-size: 0.8rem;
	}
}

@media screen and (max-width: 350px) {
	header {
		font-size: 0.7rem;
	}

	nav a {
		font-size: 0.6rem;
	}

	.notebook-grid {
		margin: 0.1rem auto;
		gap: 1rem;
	}

	.note-card {
		font-size: 0.6rem;
	}

	.buttonEdit {
		font-size: 0.6rem;
	}
}
